@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-cyan;
    @apply text-gray-900
  }

  * {
    cursor: none;
  }

  html {
    -ms-overflow-style: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }

  body {
    @apply bg-gray-50;
  }

  @font-face {
    font-family: 'Graphik';
    font-weight: 300;
    src: url("../assets/fonts/GraphikLight.otf") format("OpenType");
  }
  @font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url("../assets/fonts/GraphikRegular.otf") format("OpenType");
  }
  @font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url("../assets/fonts/GraphikMedium.otf") format("OpenType");
  }
  @font-face {
    font-family: 'Graphik';
    font-weight: 700;
    src: url("../assets/fonts/GraphikBold.otf") format("OpenType");
  }
  @font-face {
    font-family: 'Graphik';
    font-weight: 900;
    src: url("../assets/fonts/GraphikBlack.otf") format("OpenType");
  }

  @font-face {
    font-family: 'Merriweather';
    font-weight: 300;
    src: url("../assets/fonts/Merriweather-Light.ttf") format("TrueType");
  }
  @font-face {
    font-family: 'Merriweather';
    font-weight: 400;
    src: url("../assets/fonts/Merriweather-Regular.ttf") format("TrueType");
  }
  @font-face {
    font-family: 'Merriweather';
    font-weight: 700;
    src: url("../assets/fonts/Merriweather-Bold.ttf") format("TrueType");
  }
  @font-face {
    font-family: 'Merriweather';
    font-weight: 900;
    src: url("../assets/fonts/Merriweather-Black.ttf") format("TrueType");
  }
}