@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./cursor.css";
@import "./prism.css";
@import "./fonts.css";

@layer base {
  * {
    cursor: none;
  }

  html {
    -ms-overflow-style: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }

  body {
    @apply bg-gray-100 overflow-y-auto;
  }

  ::selection {
    @apply bg-cyan text-gray-900;
  }
}

@layer utilities {
    .fill-color {
    -webkit-text-fill-color: #F3F4F6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #070001;
  }

  .fill-color-dark {
    -webkit-text-fill-color: #070001;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F3F4F6;
  }
}